@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
  position: relative;
  width: 100%;
  height: calc(100vh - 64px);
  background: #000;
}

/* text part */
.swiper-slide {
  backdrop-filter: blur(8px);
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 300px 120px;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  /* background-image: url("./assets/bakery.jpg");
  background-size: cover;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.527),
      rgba(0, 0, 0, 0.37)
    ),
    url("./assets/bakery.jpg") no-repeat center center fixed;
  background-size: cover;
}

.swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
  top: 300;
}

.swiper-slide .subtitle {
  font-size: 21px;
  top: 300;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}
